[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sayani Bhatacharjee (saayani)
[access "refs/for/refs/*"]
	read = group user/Sayani Bhatacharjee (saayani)
	push = group user/Sayani Bhatacharjee (saayani)
	label-Code-Review = -2..+2 group user/Sayani Bhatacharjee (saayani)
	label-Verified = -1..+1 group user/Sayani Bhatacharjee (saayani)
	rebase = group user/Sayani Bhatacharjee (saayani)
	removeReviewer = group user/Sayani Bhatacharjee (saayani)
	submit = group user/Sayani Bhatacharjee (saayani)
[access "refs/heads/*"]
	read = group user/Sayani Bhatacharjee (saayani)
	create = group user/Sayani Bhatacharjee (saayani)
	push = +force group user/Sayani Bhatacharjee (saayani)
	pushMerge = group user/Sayani Bhatacharjee (saayani)
[access "refs/tags/*"]
	push = group user/Sayani Bhatacharjee (saayani)
	push = +force group user/Sayani Bhatacharjee (saayani)
